@import "../../styles/variables";
@import "../../styles/layout";

.card {
  @extend .my-3;
  display: flex;
  color: #333;
  background-color: #fff;
  border-radius: map-get($space, "1");
  text-decoration-line: none;
}
.card:active {
  color: #666;
}
.card-img {
  flex-basis: 180px;
  height: 180px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: map-get($space, "1");
}
.card-body {
  flex-grow: 1;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-description {
  color: #666;
}
.card-location {
  color: #999;
}
