@import "./variables";

.base {
  height: calc(100vh - 55px);
  display: flex;
}

.column {
  flex-direction: column;
}
.main-center {
  justify-content: center;
}
.axis-center {
  align-items: center;
}

@each $name, $value in $space {
  .m-#{$name} {
    margin: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mr-#{$name} {
    margin-left: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }
  .ml-#{$name} {
    margin-right: $value;
  }
  .mx-#{$name} {
    margin-right: $value;
    margin-left: $value;
  }
  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .p-#{$name} {
    padding: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pr-#{$name} {
    padding-left: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
  .pl-#{$name} {
    padding-right: $value;
  }
  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
