// Import normalize
@import "./normalize";

// Import a system grid
@import "./flexboxgrid";

@import "./variables";

@import "./layout";

body {
  margin: 0;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
